#score-bar {
  width: 60vw;
  max-width: 500px;
  align-self: center;
  position: relative;
  font-weight: bold;
}

#score-bar * {
  transition: all 1s ease;
}

#score-bar .max-score {
  float: right;
}

#score-bar .representation-bar {
  border: 1px solid gray;
  height: 25px;
}

#score-bar .representation-bar * {
  height: 25px;
  position: absolute;
}

#score-bar .representation-bar #represent-max-score {
  background-color: #388E3C;
}

#score-bar .representation-bar #represent-score {
  background-color: #009688;
}

#score-bar .representation-bar #represent-min-score {
  background-color: #D32F2F;
}
