#question {
    margin:10vh 15px;
    align-self: center;
    width:80vw;
    max-width:1000px;
}

#question .content{
  font-size: 1.5em;
}

#question .answers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin:15px 0;
}

#question .answer{
    padding:5px;
}

.correct {
    background-color: #4CAF50;
}
  
.incorrect {
    background-color: #D32F2F;
}

#feedback {
    font-size: 1.2em;
    margin:15px auto;
    text-align: center;
}

#feedback span {
    display: block;
}

#feedback button{
    padding: 10px 25px;
}

